<div class="logo">Br<span class="bit">0</span>kenB<span class="bit">1</span>ts</div>
<ul class="site-categories"><li><a class="nav" href="{{site.url}}/categories/All" title="View all posts">All</a></li>{% for category in site.categories_list %}<li class="site-category"><span class="separator">{% cycle '0', '1' %}</span><a class="nav" href="{{site.url}}/categories/{{category}}" title="View posts in category {{ category }}">{{ category }}</a></li>{% endfor %}</ul>
<div class="copyright">&copy; 2009-2011 Yan Pujante</div>
