{% unless post %}
  {% assign post = page %}
{% endunless %}
<div class="post">
  <div class="col1-and-col2">
    <div class="col1">
      <div class="col1-content">
        {% if post.next %}
        <table>
          <tr>
            <td class="nav-arrow">&larr;</td>
            <td><a class="nav" href="{{site.url}}{{ post.next.url }}" title="{{ post.next.title }}">{{ post.next.title }}</a></td>
          </tr>
        </table>
        {% endif %}
      </div>
    </div>
    <div class="col2">
      <div class="post-title-content-footer">
      <div class="post-title">{{ post.title }}</div>
      <div class="post-content">
        <div class="post-info">
          <div class="date">
            <div class="month-day">{{post.date | date: "%b %d"}}</div>
            <div class="year">{{post.date | date: "%Y"}}</div>
          </div>
          <div class="details">Posted by <a href="{{ site.url }}/about.html">Yan</a> in
            <ul class="post-categories">
              {% for category in post.categories %}
              <li><a href="{{site.url}}/categories/{{category}}" title="View posts in category {{ category }}">{{ category }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {{ post.content }}
      </div>
      <!--
      <div class="comments">
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            var disqus_shortname = 'brokenbits';
            var disqus_developer = 1; // developer mode is on
            var disqus_identifier = '{{ post.id }}';
            var disqus_url = '{{ post.url }}';

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>  </div>
      </div>
      -->
      </div>
      <div class="post-footer">
        this is the post footer
      </div>
    </div>
  </div>
  <div class="col3">
    <div class="col3-content">
      {% if post.previous %}
      <table>
        <tr>
          <td><a class="nav" href="{{site.url}}{{ post.previous.url }}" title="{{ post.previous.title }}">{{ post.previous.title }}</a></td>
          <td class="nav-arrow">&rarr;</td>
        </tr>
      </table>
      {% endif %}
    </div>
  </div>
  <div class="page-footer">
    <ul class="site-categories"><li><a href="{{site.url}}/categories/All" title="View all posts">All</a></li>{% for category in site.categories_list %}<li class="site-category"><span class="separator">{% cycle '0', '1' %}</span><a href="{{site.url}}/categories/{{category}}" title="View posts in category {{ category }}">{{ category }}</a></li>{% endfor %}</ul>
  </div>
</div>
