{% unless post %}
  {% assign post = page %}
{% endunless %}
<div class="post">
    <div class="col1">
      <div class="col1-content">
        <div class="sidebar">
          {% include sidebar.html %}
        </div>
      </div>
    </div>
  <div class="col2">
    <div class="post-title-content-footer">
      <div class="post-title">
        {{ post.title }}
      </div>
      <div class="post-info">
        <table class="nav">
          <tr>
            {% if post.previous %}
            <td class="previous"><a href="{{site.url}}{{ post.previous.url }}" title="{{ post.previous.title }}"><span class="nav-arrow">&larr;</span>&nbsp;Previous</a></td>
            {% endif %}
            {% if post.next %}
            <td class="next"><a href="{{site.url}}{{ post.next.url }}" title="{{ post.next.title }}">Next&nbsp;<span class="nav-arrow">&rarr;</span></a></td>
            {% endif %}
          </tr>
        </table>
        <div class="date">
          <div class="month-day">{{post.date | date: "%b %d"}}</div>
          <div class="year">{{post.date | date: "%Y"}}</div>
        </div>
        <div class="details">Posted by <a href="{{ site.url }}/about.html">Yan</a> in
          <ul class="post-categories">
            {% for category in post.categories %}
            <li><a href="{{site.url}}/categories/{{category}}"
                   title="View posts in category {{ category }}">{{ category }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="post-content">
        {{ post.content }}
      </div>
      <!--
      <div class="comments">
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            var disqus_shortname = 'brokenbits';
            var disqus_developer = 1; // developer mode is on
            var disqus_identifier = '{{ post.id }}';
            var disqus_url = '{{ post.url }}';

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>  </div>
      </div>
      -->
    </div>
    <div class="post-footer">
      <div class="post-footer-content">
      &copy; 2009-2011 Yan Pujante under a <a class="nav-cc" href="http://creativecommons.org/licenses/by/3.0/">Commons Creative license</a>.
      </div>
    </div>
  </div>
</div>
  <div class="page-footer">
  {% include footer.html %}
</div>
