{% unless post %}
  {% assign post = page %}
{% else %}
  {% assign content = post.content %}
{% endunless %}

<div class="page">
  <div class="header">
    {% include header.html %}
  </div>
  <div class="sidebar">
    {% include sidebar.html %}
  </div>
  <div class="post">
    <div class="post-title-content-footer">
      <div class="post-title">
        {{ post.title }}
      </div>
      <div class="post-content">
        {{ content }}
      </div>
      <div class="post-info">
        {{post.date | date: "%b %d %Y"}} - Posted by Yan in
          <ul class="post-categories">
            {% for category in post.categories %}
            <li><a href="{{site.url}}/categories/{{category}}"
                   title="View posts in category {{ category }}">{{ category }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="post-footer">
    <div class="post-footer-content">
      &copy; 2009-2024 Yan Pujante under a <a class="nav-cc" href="https://creativecommons.org/licenses/by/3.0/">Commons Creative license. <a class="nav-cc" href="https://pongasoft.com/about.html">Privacy Policy</a>.
    </div>
  </div>
</div>
