<dl class="entry">
  <dt>Welcome</dt>
  <dd>My name is Yan Pujante. I am a software engineer and music producer (<a href="http://nh2mf.com">NH2MF</a>). Lately I have been working on <a href="https://www.pongasoft.com">VST</a> plugins. I am the author of <a href="https://jamba.dev">Jamba</a>, a lightweight VST framework.
    If you want more information about me please check my
    <a href="https://www.linkedin.com/in/yan">LinkedIn profile</a>.
  </dd>
</dl>
<dl class="entry">
  <dt>Categories</dt>
  <dd>
    <ul>
      <li><a href="{{site.url}}/categories/All" title="View all posts">All</a></li>
      {% for category in site.categories_list %}
      <li><a href="{{site.url}}/categories/{{category}}" title="View posts in category {{ category }}">{{ category }}</a></li>
      {% endfor %}
    </ul>
  </dd>
</dl>
{% if site.withTwitter and site.prodMode %}
<dl class="entry">
  <dt>Social</dt>
  <dd>
<a class="twitter-timeline" href="https://twitter.com/yanpujante" data-widget-id="540646343081869312">Tweets by @yanpujante</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>  </dd>
</dl>
{% endif %}
{% if site.prodMode %}
<dl class="entry">
  <dt>My Music</dt>
  <dd>
    <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/227552217&amp;color=960000;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
    <span><a href="https://soundcloud.com/nh2mf/above-beyond-counting-down-the-days-nh2mf-chill-out-mix">Above &amp; Beyond - Counting Down The Days (nh2mf Chill Out Mix)</a> by <a href="http://soundcloud.com/nh2mf">nh2mf</a></span>
    <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/192630026&amp;color=960000&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
    <span><a href="https://soundcloud.com/nh2mf/nelly-furtado-vs-iio-right-at-the-end-nh2mf-mix">Nelly Furtado vs IIO - Right At The End</a> by <a href="http://soundcloud.com/nh2mf">nh2mf</a></span>
  </dd>
  <dd>
    <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/179999736&amp;color=960000&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>  
	<span><a href="https://soundcloud.com/nh2mf/supernature-beatport-remix-context">Supernature</a> by <a href="http://soundcloud.com/nh2mf">nh2mf</a></span>
</dd>
</dl>
{% endif %}
{% if site.prodMode %}
<dl class="entry">
  <dt>My Photos</dt>
  <dd>
  <div class='pixels-photo'>
    <p>
      <figure>
        <img src='https://drscdn.500px.org/photo/77784981/m%3D900/v2?user_id=1375895&webp=true&sig=4dce7e3b5c0c68e2109becde7da484967c2d2e0bc63661d33cffd26c5d07cb9a' alt='Kaanapali Sunset Reflections by Yan Pujante on 500px.com'>
        <figcaption><a href='https://500px.com/photo/77784981/kaanapali-sunset-reflections-by-yan-pujante' alt='Kaanapali Sunset Reflections by Yan Pujante on 500px.com'>Kaanapali Sunset Reflections</a></figcaption>
    </figure>
    </p>
  </div>
  <div class='pixels-photo'>
    <p>
      <figure>
      <img src='https://drscdn.500px.org/photo/16340401/m%3D900/v2?user_id=1375895&webp=true&sig=3ee248d2ad770a8f93de51fc3472a1f9c489556a9acb3b49e1e918065b4fdac5' alt='Ray of light - Eiffel Tower by Yan Pujante on 500px.com'>
        <figcaption><a href='https://500px.com/photo/16340401/ray-of-light-eiffel-tower-by-yan-pujante' alt='Ray of light - Eiffel Tower by Yan Pujante on 500px.com'>Ray of light - Eiffel Tower</a></figcaption>
    </figure>
    </p>
  </div>
  <div class='pixels-photo'>
    <p>
      <figure>
      <img src='https://drscdn.500px.org/photo/47934252/m%3D900/v2?user_id=1375895&webp=true&sig=6aba8d7bf0258cc26c9dc929b0947a5e9f79a334fa3c69fe1d0561563d21c62c' alt='Mauna Lani sunrise by Yan Pujante on 500px.com'>
        <figcaption><a href='https://500px.com/photo/47934252/mauna-lani-sunrise-by-yan-pujante' alt='Mauna Lani sunrise by Yan Pujante on 500px.com'>Mauna Lani sunrise</a></figcaption>
    </figure>
    </p>
  </div>
</dl>
{% endif %}
<dl class="entry">
  <dt>Links</dt>
  <dd>
    <ul>
      <li><a href="https://www.pongasoft.com" title="pongasoft main web site">pongasoft</a></li>
      <li><a href="http://nh2mf.com" title="music">NH2MF</a></li>
      <li><a href="https://github.com/ypujante/blog" title="blog source code">Source code for this blog on github</a></li>
      <li><a href="{{site.url}}/atom.xml">Subscribe</a>&nbsp;&nbsp;<img class="rssbadge"
                                                                  src="{{site.url}}/resource/feed-icon-16x16.png"
                                                                  alt="Click me to subscribe" /></li>
    </ul>
  </dd>
</dl>

<dl class="entry">
  <dt>Recommendations</dt>
  <dd>
    <ul>
      <li><a href="https://www.amazon.com/gp/product/0201633612?ie=UTF8&tag=pongasoft-20&linkCode=as2&camp=1789&creative=9325&creativeASIN=0201633612">Design Patterns: Elements of Reusable Object-Oriented Software</a><img src="https://www.assoc-amazon.com/e/ir?t=pongasoft-20&l=as2&o=1&a=0201633612" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
      </li>
      <li>
        <a href="https://www.amazon.com/gp/product/1932394842?ie=UTF8&tag=pongasoft-20&linkCode=as2&camp=1789&creative=9325&creativeASIN=1932394842">Groovy in Action</a><img src="https://www.assoc-amazon.com/e/ir?t=pongasoft-20&l=as2&o=1&a=1932394842" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
      </li>
    </ul>
  </dd>
</dl>

<dl class="entry">
  <dt>Contact</dt>
  <dd>
    If you are a human being and you are trying to contact me, you can either contact me through
    LinkedIn, twitter or directly by decoding my email address:
    <span class="contact-email">&lt;my 3 letter first name&gt; at pongasoft dot com</span>.
  </dd>
</dl>
