---
---
/***********************************
 * general
 ***********************************/

html {
  background: -webkit-gradient(linear,0 100%,0 0,color-stop(.4,{{ site.mainColor1 }}),color-stop(1,{{ site.mainColor2 }})) fixed no-repeat 0 100%;
  background: -moz-linear-gradient(bottom,{{ site.mainColor1 }} 40%,{{ site.mainColor2 }}) fixed no-repeat 0 100%;
  background-color: {{ site.mainColor2 }};
  min-width: 800px;
  font-family: {{ site.contentFontFamily }}
}

a:visited {
  text-decoration: none;
  color: {{ site.mainColor1 }};
}

a:link {
  text-decoration: none;
  color: {{ site.mainColor1 }};
}

a:hover {
  text-decoration: underline;
  color: {{ site.mainColor1 }};
}

a.nav {
   font-weight: bold;
   letter-spacing: -0.1em;
   text-shadow: 1px 1px 0 #000000;
 }

a.nav:visited {
   color: {{ site.titleFGColor }};
 }

a.nav:link {
   color: {{ site.titleFGColor }};
 }

a.nav:hover {
   text-decoration: none;
   color: {{ site.titleBGColor }};
 }
 
 tt, code {
   background: #dcdcdc;
 }

.hidden {
  display: none;
}

/***********************************
 * 2 column layout + fixed footer
 ***********************************/
.post {
  margin: 1em;
}

.post-spacer {
  clear: both;
  margin-bottom: 12em; /* accounting for fixed footer */
}

.col1 {
  float: left;
  width: 30%;
}

.col2 {
  float: right;
  width: 70%;
}

.col1-content {
  margin: 0 2em 0 0;
}

.page-footer {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 100;
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  width: 100%;
  min-height: 47px;
  background: {{ site.mainColor2 }};
  border-top: solid 1px {{ site.mainColor1 }};
  padding: 0;
}

/**************
 * col2
 **************/
/**
 * navigation / prev/next */
 table.nav {
   width: 100%;
   padding: 0 0.2em 0 0.2em;
   margin: 0;

  border-spacing: 0;
  border-top: solid 1px white;
  border-bottom: groove 1px white;
  background: {{ site.contentBGColor }};
 }

 table.nav td.previous {
   text-align: right;
 }

 table.nav td.home {
   text-align: center;
 }

 table.nav td {
   font-size: 0.8em;
   width: 33%;
 }

 .nav-arrow {
    font-size: 1.5em;
 }

/**
 * post title */
.col2 .post-title {
   font-family: {{ site.monospaceFontFamily }};
   letter-spacing: -0.1em;
   font-size: 1.5em;
   font-weight: bold;
   background: {{ site.titleBGColor }};
   color: {{ site.titleFGColor }};
   border-color: {{ site.contentBGColor }} {{ site.contentBGColor }} white;
   border-style: solid solid groove;
   border-width: 1px;
   margin: 0;
   padding: 20px;
   text-shadow: 2px 2px 2px #000000;
 }

/**
 * post info (date / categories) */
.post-info .date {
   display: inline-block;
   border: solid 1px #444444;
   -moz-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
   -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
   box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
 }

.post-info .date .year {
   background: {{ site.dateBackgroundColor }};
   color: white;
   text-align: center;
   text-shadow: 1px 1px 0 #000000;
   padding: 3px;
   font-weight: bold;
 }

.post-info .date .month-day {
   background: {{ site.dateBackgroundColor }};
   color: white;
   text-align: center;
   text-shadow: 1px 1px 0 #000000;
   border-bottom: solid 1px #444444;
   padding: 3px;
   font-weight: bold;
 }

.post-info .details {
   vertical-align: middle;
   display: inline-block;
   font-size: 0.8em;
 }

.post-info {
   padding: 0.5em 0.5em 0.5em 0.5em;
   background: {{ site.contentBGColor }};
   border-top: solid 1px white;
   border-bottom: groove 1px white;
   font-family: {{ site.monospaceFontFamily }};
   font-weight: bold;
 }

.post-info .post-categories {
   display: inline;
   list-style: none;
   padding: 0;
   margin: 0;
 }

.post-info .post-categories li {
   display: inline;
}

 /**
  * post content */
.col2 .post-content {
  border: solid 1px white;
  border-bottom: groove 1px white;
  padding: 1.5em;
  margin: 0;
  font-family: {{ site.contentFontFamily }};
  background: {{ site.contentBGColor }};
  text-align: justify;
  overflow: auto;
}

.col2 .post-title-content-footer {
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.col2 .post-content pre {
  overflow-x: auto;
  border: solid 1px #bbbbbb;
  -moz-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  padding: 1em;
  background: #dddddd;
}

/**
 * specific css */
.post-content div.warning {
  border: dashed 2px #9c5e00;
  background-color: #bdad93;
  padding: 10px;
}

.post-content div.info {
  border: dashed 2px #44aa44;
  background-color: #eeffee;
  padding: 10px;
}

/**
 * Post by categories */
.col2 table.posts-by-category {
  border-collapse: collapse;
  width: 100%;
  margin-top: 1em;
}

.col2 table.posts-by-category td {
  white-space: nowrap;
  border-bottom: dotted 1px #aaaaaa;
  padding-right: 0.5em;
}

/**
 * post comments */
.post-comments {
  color: {{ site.contentFGColor }};
  background: {{ site.contentBGColor }};
  padding: 1.5em;
  border: solid 1px white;
}

/**
 * post footer */
.post-footer {
 color: {{ site.contentFGColor }};
 text-align: center;
 padding-top: 2em;
}

.post-footer-content {
  font-size: 0.8em;
}

a.nav-cc {
   letter-spacing: -0.1em;
 }

a.nav-cc:visited {
   color: {{ site.contentFGColor }};
 }

a.nav-cc:link {
   color: {{ site.contentFGColor }};
 }

a.nav-cc:hover {
  text-decoration: underline;
   color: {{ site.titleBGColor }};
 }

/***********************************
 * sidebar
 ***********************************/
.sidebar .entry {
 margin-top: 0;
 -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
 -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
 box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);   
}
 
.sidebar .entry dt {
  background: {{ site.titleBGColor }};
  color: {{ site.titleFGColor }};
  text-shadow: 1px 1px 1px #000000;
  padding: 0.5em;
  border-color: {{ site.contentBGColor }} {{ site.contentBGColor }} white;
  border-style: solid solid groove;
  border-width: 1px;
}

.sidebar .entry dd {
  background: {{ site.contentBGColor }};
  margin: 0;
  padding: 0.5em;
}

.sidebar .entry dd ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar .entry dd ul li {
  border-bottom: dotted 1px #aaaaaa;
  margin-bottom: 0.2em;
}

.contact-email {
  font-style: italic;
}

/***************
 * page footer
 ****************/
/**
 * logo */
.page-footer .logo {
  padding: 5px 0 0 5px;
  display: inline-block;
  float: left;
} 

/**
 * categories */
.page-footer ul.site-categories {
  list-style: none;
  display: inline;
  float: right;
  padding: 5px 2em 0 5px;
  margin: 0;
}

.page-footer .site-categories li {
  display: inline;
  font-family: {{ site.monospaceFontFamily }};
  font-size: 1.1em;
}

.page-footer .site-categories li .separator {
  font-weight: bold;
  font-size: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
}
