---
layout: default
---
{% if page.category %}
  {% assign posts = site.categories[page.category] %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}
<div class="post">
  <div class="col1">
    <div class="col1-content">
      <div class="sidebar">
        {% include sidebar.html %}
      </div>
    </div>
  </div>
  <div class="col2">
    <div class="post-title-content-footer">
      <div class="post-title">Br0kenB1ts - {{ page.title }}</div>
      <table class="nav">
        <tr>
          <td class="next">
          </td>
          <td class="home"><a href="{{site.url}}" title="View latest post">Latest</a></td>
          <td class="previous">
          </td>
        </tr>
      </table>
      <div class="post-content">
        <table class="posts-by-category">
          {% for post in posts %}
          <tr>
            <td class="date">{{post.date | date: "%Y-%m-%d"}}</td>
            <td><a class="title" href="{{site.url}}{{ post.url }}">{{ post.title }}</a></td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
    <div class="post-footer">
      <div class="post-footer-content">
      &copy; 2009-2016 Yan Pujante under a <a class="nav-cc" href="http://creativecommons.org/licenses/by/3.0/">Commons Creative license</a>.
      </div>
    </div>
  </div>
</div>
<div class="post-spacer">&nbsp;</div>
<div class="page-footer">
  {% include footer.html %}
</div>
