---
layout: default
---
{% if page.category %}
  {% assign posts = site.categories[page.category] %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}
<div class="page">
  <div class="header">
    {% include header.html %}
  </div>
  <div class="sidebar">
    {% include sidebar.html %}
  </div>
  <div class="post">
    <div class="post-title-content-footer">
      <div class="post-title">Br0kenB1ts - {{ page.title }}</div>
      <div class="nav">
        <div class="next">
        </div>
        <div class="home"><a href="{{site.url}}" title="View latest post">Latest</a></div>
        <div class="previous">
        </div>
      </div>
      <div class="post-content">
        <div class="posts-by-category">
          {% for post in posts %}
          <div class="date">{{post.date | date: "%Y-%m-%d"}}</div>
          <div class="title"><a class="title" href="{{site.url}}{{ post.url }}">{{ post.title }}</a></div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="post-footer">
    <div class="post-footer-content">
      &copy; 2009-2020 Yan Pujante under a <a class="nav-cc" href="http://creativecommons.org/licenses/by/3.0/">Commons Creative license</a>.
    </div>
  </div>
</div>
