---
layout: default
---
{% if page.category %}
  {% assign posts = site.categories[page.category] %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}
<div class="post">
  <div class="col1-and-col2">
    <div class="col1">
    </div>
    <div class="col2">
      <div class="post-title-content-footer">
        <div class="post-title">{{ page.title }}</div>
        <div class="post-content">
          <table class="posts-by-category">
          {% for post in posts %}
            <tr>
              <td class="date">{{post.date | date: "%Y-%m-%d"}}</td>
              <td><a class="title" href="{{ post.url }}">{{ post.title }}</a></td>
            </tr>
          {% endfor %}
          </table>
        </div>
      </div>
      <div class="post-footer">
      </div>
    </div>
  </div>
  <div class="col3">
  </div>
  <div class="page-footer">
    {% include footer.html %}
  </div>
</div>
