<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
	<title>Br0kenB1ts | {{ page.title }}</title>
  <link rel="stylesheet" href="{{ site.url}}/resource/main.css"/>
  <link rel="stylesheet" href="{{ site.url}}/resource/highlight.css"/>
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <script type="text/javascript">
  function hasClass(ele,cls) {
  	return ele.className.match(new RegExp('(\\s|^)'+cls+'(\\s|$)'));
  }
  function addClass(ele,cls) {
  	if (!hasClass(ele,cls)) ele.className += " "+cls;
  }
  function removeClass(ele,cls) {
  	if (hasClass(ele,cls)) {
  		var reg = new RegExp('(\\s|^)'+cls+'(\\s|$)');
  		ele.className=ele.className.replace(reg,' ');
  	}
  }
  function _toggleShowHide(container) {
    if(hasClass(container, 'hidden'))
    {
      removeClass(container, 'hidden');
    }
    else
    {
      addClass(container, 'hidden');
    }
  }
  function toggleShowHide(containerId) {
    _toggleShowHide(document.getElementById(containerId));
  }
  </script>
</head>

<body>
  <div id="page-content">
    {{ content }}
  </div>
{% if site.withGoogle and site.prodMode %}
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-8362808-1");
pageTracker._trackPageview();
} catch(err) {}</script>
{% endif %}
</body>
</html>
