<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
	<title>Br0kenB1ts | {{ page.title }}</title>
  <link rel="stylesheet" href="{{ site.url}}/resource/main.css"/>
  <link rel="stylesheet" href="{{ site.url}}/resource/highlight.css"/>
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <script type="text/javascript">
  function hasClass(ele,cls) {
  	return ele.className.match(new RegExp('(\\s|^)'+cls+'(\\s|$)'));
  }
  function addClass(ele,cls) {
  	if (!hasClass(ele,cls)) ele.className += " "+cls;
  }
  function removeClass(ele,cls) {
  	if (hasClass(ele,cls)) {
  		var reg = new RegExp('(\\s|^)'+cls+'(\\s|$)');
  		ele.className=ele.className.replace(reg,' ');
  	}
  }
  function _toggleShowHide(container) {
    if(hasClass(container, 'hidden'))
    {
      removeClass(container, 'hidden');
    }
    else
    {
      addClass(container, 'hidden');
    }
  }
  function toggleShowHide(containerId) {
    _toggleShowHide(document.getElementById(containerId));
  }
  </script>
</head>

<body>
  <div id="page-content">
    {{ content }}
  </div>
</body>
</html>
